@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    background-color: #575791;
    color: #ffff;
}
#container{
    max-width: 700px;
    margin: 4rem auto;
    padding: .6rem;
}
#title{
    font-size: 2.2rem;
    text-align: center;
    line-height: 1.2;
    padding: .6rem;
}
#description{
    font-size: 1.1rem;
    text-align: center;
    padding: .2rem;
    margin-bottom: 2rem;
}
#survey-form{
    background-color: #222242;
    padding: 2rem;
    border-radius: 7px;
}
.form-group{
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}
.form-group label{
    display: block;
    margin-bottom: .5rem;
}
#name, #email, #age, #dropdown-selector-role,
#favorite-selector, #comments, #btn-submit{
    width: 100%;
    padding: .6rem;
    border-radius: 6px;
    font-size: 1.1rem;
    border: none;
}
#survey-form .form-group:nth-child(5) label{
    display: inline;
}

.form-group textarea{
    height: 7rem;
    font-size: 1.1rem;
}
#btn-submit{
    width: 100%;
    padding: .6rem;
    border-radius: 6px;
    font-size: 1.1rem;
    background-color: #37AF65;
    color: white;
}
.creator{
    text-align: center;
    padding: 1.1rem;
}
.creator a{
    color: #eee;
}